*{
	margin:0px;
	padding:0px;
	box-sizing: border-box;
}
body{
background-image: url("Flower.jpg");
/*background-size:cover;
background-position:center;*/
font-family: sans-serif;
}
.menu-bar{
text-align: center;
font-size: 12px;
}
.menu-bar ul{
	display: inline-flex;
	list-style-type: none;
	color: black;
}
.menu-bar ul li{
	width: 120px;
	margin: 15px;
	padding: 15px;
}
.menu-bar ul li a{
	text-decoration: none;
	color: #fff;
}
 .menu-bar ul li:hover{
	background-color:#4c0099 ;
	border-radius: 12px;
}
.menu-bar .fa{
	margin-right: 8px;
}
.sub-menu-1{
	display: none;
}
.menu-bar ul li:hover .sub-menu-1{
	display: block;
	position: absolute;
	color: #4c0099 ;
	margin-top: 15px;
	margin-left: -15px;
}
.menu-bar ul li:hover .sub-menu-1 ul{
	display: block;
	margin: 10px;
}
.menu-bar ul li:hover .sub-menu-1 ul li{
	width: 150px;
	padding: 10px;
	border-bottom: 1px solid #190033 ;
	background: transparent;
	border-radius: 0;
	text-align: left;
}
.menu-bar ul li:hover .sub-menu-1 ul li:last-child{
	border-bottom: none;
}
.menu-bar ul li:hover .sub-menu-1 ul li a:hover{
	color: black;
}
.fa-angle-right{
	float: right;
	color: white;
}
.sub-menu-2{
	display: none;
}
.hover-me:hover .sub-menu-2{
	position: absolute;
	display: block;
	margin-top: -40px;
	margin-left: 140px;
	color: #4c0099 ;
}

















